* {
    margin: 5px;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;

}

#container {
    background-color: lightsalmon;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    margin-top: 15em;
    border: 1px solid darkblue;
    padding-bottom: 10px;
    border-radius: 15px;
}

.main-block {
    width: 80%;
}

.product-table {

}
